<!doctype html>
<title>jQuery Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='blackscholes.js')}}"></script>
<script src="{{url_for('static', filename='bondpricer.js')}}"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My awesome website</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('blackscholes') }}">Black&Scholes Pricer</a></li>
            <li><a href="{{ url_for('bondpricer') }}">Bond pricer</a></li>
            <li><a href="{{ url_for('function_chart') }}">Share Data Visualization</a></li>
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}